
@import "./base/general.scss";
@import "./layout/header.scss";
@import "./layout/img-accueil.scss";
@import "./layout/btn-aliments.scss";
@import "./layout/footer.scss";
@import "./layout/section.scss";
@import "./composants/buttons.scss";
@import "./composants/icone.scss";
@import "./composants/loading-spinner.scss";
@import "./utils/utilitaires.scss";




@media screen and (min-width: 481px) and (max-width: 768px) {
 /*Tablette*/
  .section-fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-restaurant h2{
    display: flex;
    justify-content: center;
  }
  .image_navigation{
    height: auto;
  }
  .iconeheart{
    width: 35px;
  }
  .container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .selection{
    .container_titre_coeur{
      justify-content: space-around;
    }
    p{
      display: flex;
      justify-content: center;
    }
    hr{
      margin: 0 auto 15px auto;
    }
    button{
      margin-top: 15px;
    }
  }
  .container_image{
    .image {
      height: 350px;
    }
    .iconeheart_mauve{
      width: 35px;
    }
  } 
  
}
@media screen and (min-width: 769px) and (max-width: 1450px){
  .section-fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-restaurant h2{
    display: flex;
    justify-content: center;
  }
  .image_navigation{
    height: auto;
  }
  .iconeheart{
    width: 35px;
  }
  .container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .selection{
    .container_titre_coeur{
      justify-content: space-around;
    }
    p{
      display: flex;
      justify-content: center;
    }
    hr{
      margin: 0 auto 15px auto;
    }
    button{
      margin-top: 15px;
    }
  }
  .container_image{
    .image {
      height: 500px;
    }
    .iconeheart_mauve{
      width: 35px;
    }
  } 
}


