@import"./base/animation.scss";

@import "./base/general.scss";
@import "./layout/header.scss";
@import "./layout/img-accueil.scss";
@import "./layout/btn-aliments.scss";
@import "./layout/footer.scss";
@import "./layout/section.scss";
@import "./composants/buttons.scss";
@import "./composants/icone.scss";
@import "./composants/loading-spinner.scss";
@import "./utils/utilitaires.scss";




@media screen and (min-width: 481px) and (max-width: 768px) {
 /*Tablette*/
 .container_btn_restaurant{
   .select{
      width: 450px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 50px;
    }
 }
  .container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .selection{
    p{
      display: flex;
      justify-content: center;
    }
    hr{
      margin: auto;
    }
    button{
      margin-top: 15px;
    }
  }
}


