.container_header{
  display: flex;
  align-items: center;
}

.fa-arrow-left{
  margin-left: 23px;
  color: #000;
}

.logo{
    width: 165px;
    @extend %center;
    margin-top: 22px;
    margin-bottom: 16px;
  }