* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.titre_style {
  font-family: "Shrikhand", cursive;
}

.logo {
  width: 165px;
  margin-top: 22px;
  margin-bottom: 16px;
}

footer {
  background-color: #353535;
}

.container_footer {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  color: #ffff;
  padding-bottom: 35px;
}
.container_footer svg {
  margin-top: 25px;
  margin-bottom: 25px;
}
.container_footer p {
  margin-bottom: 10px;
}
.container_footer i {
  margin-right: 12px;
}
.container_footer .fa-hands-helping {
  margin-right: 10px;
}

.container_footer > a {
  color: #ffff;
  text-decoration: none;
}

.btn-fonction, .btn-pink, .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 200px;
  background-color: #dadada;
  z-index: -99;
  opacity: 0;
  animation: fade-out 1s linear;
}

@keyframes fade-out {
  0% {
    z-index: 99;
    opacity: 1;
  }
  99% {
    z-index: 99;
    opacity: 1;
  }
  100% {
    z-index: -99;
    opacity: 0;
  }
}
.loadingelement {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingspinner {
  border-top: solid 10px #9b59b6;
  border-bottom: solid 10px #e67e22;
  border-right: solid 10px #1abc9c;
  border-left: solid 10px #f1c40f;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: loadohmyfood 1s linear infinite;
}

@keyframes loadohmyfood {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section-reserver {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.section-reserver div {
  padding-top: 16px;
  padding-bottom: 17px;
  background-color: #eaeaea;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  width: 100%;
  box-shadow: 0 -3px 0 #d5d5d5;
}
.section-reserver h2 {
  margin-bottom: 18px;
}
.section-reserver .discovery {
  margin-bottom: 30px;
  font-weight: lighter;
}
.section-reserver button {
  margin-bottom: 55px;
  font-size: 13px;
  padding-left: 22px;
  padding-right: 22px;
}

button:hover {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn-map {
  text-decoration: none;
}

.btn-pink {
  height: 50px;
  color: #ffff;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 25px;
  padding-left: 43px;
  padding-right: 43px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.btn-pink:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  border: none;
}

.section-fonctionnement {
  margin-left: 20px;
}
.section-fonctionnement h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.btn-fonction {
  height: 75px;
  width: 325px;
  border-radius: 25px;
  background-color: #f6f6f6;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
}
.btn-fonction div {
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 13px;
  margin-left: -20px;
  margin-right: 22px;
}
.btn-fonction i {
  margin-right: 25px;
}
.btn-fonction .fa-mobile-alt {
  margin-right: 32px;
}

.btn-fonction:hover {
  background-color: #f5edff;
  animation: apparition 2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
}

.btn-fonction:nth-child(-n+3) {
  margin-bottom: 20px;
}

.btn-fonction > i:hover {
  color: #9356dc;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-restaurant {
  background-color: #f6f6f6;
  padding: 0 18px 1px 18px;
  margin-top: 65px;
}
.section-restaurant h2 {
  padding-top: 57px;
  padding-bottom: 27px;
}

.container_image {
  border-radius: 20px;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container_image .image {
  height: 175px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.container_image h4 {
  margin-left: 15px;
}
.container_image p {
  margin-left: 15px;
}
.container_image .coeurempli_mauve {
  width: 30px;
  position: relative;
  padding-top: 15px;
  padding-right: 10px;
}
.container_image .iconeheart_mauve {
  width: 20px;
  cursor: pointer;
}
.container_image .iconeheart_mauve path {
  fill: transparent;
  stroke-width: 30px;
  stroke: black;
}
.container_image .rectangle_vert {
  width: 80px;
  height: 30px;
  background: #99e2d0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 12px;
}
.container_image .container_alignetitrecoeur {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_image a {
  text-decoration: none;
  color: black;
}

.espace_footer {
  margin-bottom: 48px;
}

.coeurempli {
  width: 30px;
  position: relative;
}

.iconeheart_mauve:hover path {
  fill: #c165db;
  stroke: #c165db;
  animation: red-heart 1s linear;
}

.iconeheart {
  width: 20px;
  cursor: pointer;
}

.iconeheart path {
  fill: transparent;
  stroke-width: 30px;
  stroke: black;
}

.iconeheart:hover path {
  fill: red;
  stroke: red;
  animation: red-heart 2s linear;
}

@keyframes red-heart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*
.fa-heart{
  background: linear-gradient(to left, #0943A7 50%, #FFFFFF 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  margin-left: 10px;
  transition: all 1s ease;
}
.fa-heart:hover{
  background-position: right bottom;
}
*/
/*Partie des pages de selection restaurant*/
.image_navigation {
  width: 100%;
  height: 250px;
}

.container_btn_restaurant {
  display: flex;
  flex-direction: column;
  /*

    button {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      position: relative;
      width: 158px;
      height: 150px;
      outline:none;
  }

  button:hover{
      background-color: rgb(214, 85, 203);
  }
  p{
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  i:hover{
      transform: rotate(360deg);
      transition-duration: 2s;
      animation-iteration-count: 1;
      color: #99e2d0;
  }
  .progress_bar:hover{
      transition-duration: 3s;
      transition-timing-function: ease;
      transform:translateX(-50%);
  }
  */
}
.container_btn_restaurant p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 10px 10px;
}
.container_btn_restaurant h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 13px 0 10px 10px;
}
.container_btn_restaurant button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  display: flex;
  justify-content: flex-start;
}
.container_btn_restaurant .select {
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  height: auto;
  background-color: #ffffff;
  cursor: pointer;
}

.animation {
  border-radius: 5px;
  height: 70px;
  display: grid;
  grid-template-columns: 100% 0;
}

.animation:hover {
  grid-template-columns: calc(100% - 100px) 100px;
  animation: anim-menu 0.5s linear;
}
.animation:hover .cote {
  opacity: 1;
}

.anim, .cote {
  width: 100%;
  height: 100%;
}

.anim {
  grid-column: 1/2;
  text-overflow: ellipsis;
}

.anim > * {
  overflow: hidden;
  white-space: nowrap;
}

.cote {
  grid-column: 2/3;
  opacity: 0;
  background-color: #22ec10;
}

@keyframes anim-menu {
  0% {
    grid-template-columns: 100% 0;
  }
  100% {
    grid-template-columns: calc(100% - 100px) 100px;
  }
}
.container_header {
  display: flex;
  align-items: center;
}

.fa-arrow-left {
  margin-left: 23px;
  color: #000;
}

.selection {
  background-color: #f6f6f6;
  padding-left: 14px;
  padding-right: 12px;
  border-radius: 20px 20px 0 0;
}
.selection button {
  background-color: #FFFFFF;
  margin-bottom: 15px;
  /*display: flex;
  flex-direction: column;*/
}

.container_titre_coeur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 38px;
}
.container_titre_coeur svg {
  cursor: pointer;
}

.selection > p {
  text-transform: uppercase;
  margin-bottom: 8px;
  padding-top: 35px;
}

hr {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  border: none;
  margin-bottom: 15px;
}

.align_aliments_prix {
  display: flex;
  justify-content: space-between;
}

/* Responsive
  Transition pour boutons responsive : button{
    box-shadow: inset 0 0 0 0 red;
    transition: ease-out 1.5s;
  }
  button:hover{
    box-shadow: inset 50px 0 0 0 red;;
  }
*/
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
